# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-PackageHomePage: https://github.com/paxx12-snapmaker-u1/SnapmakerU1-Extended-Firmware
# SPDX-FileCopyrightText: Copyright (c) 2026 @paxx12

KERNEL=="video19", SUBSYSTEM=="video4linux", ACTION=="add",  RUN+="/bin/sh -c 'sleep 2; /etc/init.d/S99v4l2-mpp-usb start'"
KERNEL=="video19", SUBSYSTEM=="video4linux", ACTION=="remove", RUN+="/etc/init.d/S99v4l2-mpp-usb stop"
