# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-PackageHomePage: https://github.com/paxx12-snapmaker-u1/SnapmakerU1-Extended-Firmware
# SPDX-FileCopyrightText: Copyright (c) 2026 @paxx12

# Klipper `[spoollink]` router: exposes the `spoollink/set` endpoint and
# forwards scanned RFID cards to the SpoolLink Moonraker component.
# Symlinked into the extended Klipper config by klipper.d/10-spoollink.sh
# when `[spoolman] host` is set in extended2.cfg.
[spoollink]
